#container{
    height: 500px;
    width: 500px;
    background: blue;
    position: relative;
}

.box {
    /* height: 50px; */
    /* width: 50px; */
    position: absolute;
    background: 'green';
}
