
*{
  padding: 0px;
  margin: 0px;
}
.image-wrapper{
  height: 600px;
  width: 800px;
 margin: 0 auto;
  overflow: hidden;
}

.image-container{
  height: 400px;
  width: 8000px;
}

.image-container li img{
  height: 400px;
  width: 800px;
}

.image-container li{
  width: 800px;
  float: left;
}

.buttonClass{
    height: 400px;
    width: 800px;
    margin: 0 auto;
}

.button{
    width: 400px;
    float:left;
}
